<header class="header-site" role="banner">
    <div class="content">
        <div class="person">
            <img src="./duckies/4.jpg" alt="Unicorn-Ducky">
        </div>
        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>
        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:3%}
                <li><a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a></li>
              {% endfor %}
        </ul>
        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:3%}
                <li><a href="{{ project.url}}"><h2 class="post-title" itemprop="name">{{ project.name }}</h2></a></li>
              {% endfor %}
        </ul>
    </div>
    {% include menu-search.html %}
</header>
